//header

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item {
  @include list-gap(50px);
}

.contact__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: getColor(text);

  transition: anim-base(color);

  &:hover,
  &:focus {
    color: getColor(accent);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

//footer

.footer-contact__item {
  @include list-gap(9px);
}

.footer-contact__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact__link--colored {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__link--white {
  color: #ffffff;
}
