.logo {
  font-family: $logo-fonts;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: get-color('accent');

  &--lightbg {
    color: #000000;
  }

  &--darkbg {
    color: #ffffff;
  }
}
