@function anim-base($property) {
  @return $property $hover-duration $hover-effect;
}

@mixin cards_template() {
}

@mixin social_template() {
}

@mixin list-gap($gap: $list-space) {
  // @if {}
  & + & {
    margin-left: $gap;
  }
}

@mixin flex-centered($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
