@mixin list-gap($gap: $base-space, $direction: horisontal) {
  @if $direction == horisontal {
    & + & {
      margin-left: $gap;
    }
  } @else if $direction == vertical {
    & + & {
      margin-top: $gap;
    }
  }
}
@mixin flex-centered($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
