.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--topzero {
    padding-top: 0;
  }

  &--firstbg {
    background-color: get-color(firstbg);
  }

  &--secondbg {
    background-color: get-color(secondbg);
  }
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: get-color(title);

  &--visually-hidden {
    @extend %visually-hidden;
  }
}
