.client {
  display: flex;
}
.client__item {
  @include flex-centered();

  width: 170px;
  height: 92px;

  @include list-gap();
}

.client__link {
  @include flex-centered();
  width: 100%;
  height: 100%;

  color: getColor(svgbase);
  border: 1px solid getColor(svgbase);
  border-radius: 4px;

  transition: anim-base(color), anim-base(border-color);

  &:hover,
  &:focus {
    color: getColor(accent);
    border-color: getColor(accent);
  }
}

.client__logo {
  width: 106px;
  height: 60px;

  fill: currentColor;
}
