.feature {
  display: flex;
  justify-content: center;
}

.feature__item {
  @include list-gap;
  flex-basis: 270px;
}

.feature__thumb {
  @include flex-centered;
  height: 120px;

  background-color: get-color(secondbg);
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}
.feature__title {
  margin-top: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: get-color(title);
}

.feature__text {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: get-color(text);
}
